
h1{
  color:Black;
  border-style:double
}
  
h2{
  color: black;
}

body{
  background-color:lightgray;
 
}

div.chair{
 position: absolute;
 right: 150px;
}

div.sprayPaint{
  position: absolute;
  right:150px;
}


div.statue{
position: absolute;
  right:150px;
}
